.weather-info-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.city-name {
  text-transform: capitalize;
}

h4 {
  text-align: center;
  padding-block: 1.5rem 1rem;
}

img {
  height: 15rem;
}

.weather-info-card p {
  padding: 0.3rem 0;
}
